<ion-header>
  <ion-toolbar>
    <ion-title text-center>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-input placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Nombre de usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Repetir Contraseña"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button full round>Registrate</ion-button>

</ion-content>
