<ion-header>
  <ion-toolbar>
    <ion-title text-center>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

  <ion-list>

    <ion-item>
      <ion-input placeholder="Username" type="text" value="" #username></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" type="password" #password></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button full round>Ingresar</ion-button>
    <ion-button full color="light" round>Registrate</ion-button>
  </div>

</ion-content>
